<div
  class="p-grid p-d-flex p-justify-between p-p-6 p-inline-block w-full h-full"
  *ngIf="!!apiResultArticles"
>
  <div
    class="p-col-4 p-col-align-around"
    *ngFor="let article of apiResultArticles"
  >
    <p-card
      [header]="article?.title"
      [subheader]="formatDate(article?.publishedAt)"
    >
      <ng-template pTemplate="header">
        <img
          alt="Card"
          [src]="
            !!article?.urlToImage
              ? article?.urlToImage
              : '../../../../assets/images/something_went_wrong.png'
          "
        />
      </ng-template>
      <ng-template pTemplate="content">
        <p class="p-px-6">{{ article?.description }}</p>
      </ng-template>
      <ng-template pTemplate="footer">
        <p-button
          label="Read More"
          icon="pi pi-external-link"
          (click)="goToLink(article.url)"
          class="p-float-right"
        ></p-button>
      </ng-template>
    </p-card>
  </div>
</div>
